@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Fonts */
  --font-avenir-bold: var(--AvenirBold);
  --font-avenir-bold-italic: var(--AvenirBoldItalic);
  --font-avenir-regular: var(--AvenirRegular);
  --font-avenir-regular-italic: var(--AvenirRegularItalic);
  --font-avenir-light: var(--AvenirLight);
  --font-avenir-light-italic: var(--AvenirLightItalic);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-blue: #80bdff;
  --color-sky-blue: #5b8dff;
  --color-light-grey: #dadada;
  --color-blue-orange-gradient: linear-gradient(
    90deg,
    #bdd6f6 0%,
    #b0b2e2 20%,
    #c49edc 40%,
    #ee9ac7 60%,
    #f9a88a 80%,
    #fcb670 100%
  );

  /* Animate */
  --animate-fade-in: fadeIn 0.5s ease-in-out;
  --animate-slide-left: slideLeft 0.5s ease-in-out;
  --animate-slide-right: slideRight 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, "Avenir";
}

/* Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Utility Classes for Components */
.overlay {
  @apply bg-black/50 h-screen w-screen absolute top-0 right-0 bottom-0 left-0 z-50;
}

.boxContainerShadow {
  @apply shadow-[3px_4px_12.3px_rgba(0,0,0,0.25)];
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #ffffff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #999898;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}
